@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.356);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.9em;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 110px 160px;
  padding: 120px 0px;
  
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8); 
}


canvas {
  position: fixed;
  top: 0;
  left: 0;
}

section {
  margin: 0 auto;
  padding: 10px;
  max-width: 800px;
  background-color: var(--dark-bg);
  border-radius: 10px;

}

.projects, .schools, .technologies {
  display: flex;
  justify-content: space-between;
}

.projectDescriptionsContainer, .sectionChild, .schoolDescriptionsContainer {
  flex: 4;
  padding: 10px;
  background-color: var(--dark-bg);
}

.techDescriptionsContainer {
  flex: 2;
  padding: 10px;
  background-color: var(--dark-bg);
}

.projectLogosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 2;
  padding: 20px;
  background-color: var(--dark-bg);
}

.schoolLogosContainer, .techLogosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 10px;
  background-color: var(--dark-bg);
}

.schoolLogoRow, .techLogoRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px
}

.projectLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
  height: auto;
}

.schoolLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75px;
  height: auto;
}

.techLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: auto;
}

ul {
  font-size: small;
  list-style: none;
}

a {
  color: inherit; 
  text-decoration: none; 
}

/* modals */

.sp-source {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 98vw; 
  height: 98vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.sp-source-content {
  background-color: #fefefe;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Adjust width as needed */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.sp-source-close {
  color: #aaaaaa;
  float: right;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.sp-source-close:hover,
.sp-source-close:focus {
  color: black;
  text-decoration: none;
}
